.header {
	position: relative;
	padding: 29px 0;

	@include xl {
		padding: 15px 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black-480;
	}

	// .header__content
	&__content {
		display: grid;
		grid-template-columns: 290px auto 135px;
		row-gap: 30px;
		grid-template-areas:
			"phones search lang"
			"logo nav social";
		align-items: center;

		@include xl {
			grid-template-columns: auto;
			grid-template-areas:
				"logo phones lang"
				"search search social"
				"nav nav nav";
			justify-content: space-between;
			align-items: center;
			row-gap: 25px;
		}

		@include lg {
		}

		@include md {
			grid-template-columns: auto;
			grid-template-areas:
				"logo nav"
				"social phones"
				"search lang";
			justify-content: space-between;
		}

		@include sm {
			grid-template-areas:
				"logo nav"
				"phones phones"
				"social lang"
				"search search";
		}
	}

	// .header__logo
	&__logo {
		grid-area: logo;
		position: relative;
		max-width: 230px;
		width: 100%;
		height: 100%;
		font-weight: 300;
		font-size: 14px;
		outline: transparent;
		border: 1px solid transparent;
		transition: border-color $hoverTime ease-in;

		@include md {
			align-self: flex-start;
		}

		@include md-min {
			&:hover {
				border-bottom-color: $brandColor;
			}

			&:focus {
				border-bottom-color: $black-800;
			}
		}

		&:active {
			top: 1px;
		}

		@include xl {
			z-index: 5;
			justify-self: center;
			align-items: center;
		}

		@include sm {
			max-width: 180px;
		}
	}
}

.phones {
	grid-area: phones;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include xl {
		width: 100%;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	@include md {
		&:not(:last-child) {
			margin-right: 0;
		}
		flex-direction: column;
		align-self: flex-start;
	}

	@include sm {
		align-items: start;
	}

	&__item {
		min-height: 22px;
	}

	// .phones__link
	&__link {
		position: relative;
		font-size: 13px;
		color: $brandColor;
		padding-left: 17px;
		padding-bottom: 2px;

		&::before {
			content: "";
			position: absolute;
			bottom: 4px;
			left: 0;
			width: 12px;
			height: 12px;
			border: 1px solid $black-800;
			background-color: $black-800;
			border-radius: 3px;
			background-image: url("../img/icons_png/phone.png");
			@include bg-cover;
		}

		@include md-min {
			&:hover {
				color: $black-600;
			}
		}
	}
}

.search {
	position: relative;
	grid-area: search;
	display: flex;
	width: 100%;
	height: 37px;
	margin: 0 auto;
	justify-content: center;
	align-self: center;
	max-width: 460px;

	@include xl {
		margin: 0;
	}

	// .search__label
	&__label {
		width: 100%;
	}

	// .search__input
	&__input {
		display: block;
		max-width: 414px;
		width: 100%;
		height: 100%;
		padding: 4px 6px;
		background-color: $white-0f;
		outline: none;
		border: 1px solid transparent;
		transition: border-color $hoverTime ease-in;

		&::placeholder {
			transition: color $hoverTime ease-in;
		}

		@include md-min {
			&:hover {
				&::placeholder {
					color: $black-450;
				}
			}

			&:focus {
				border-color: orangered;
			}
		}
	}

	// .search__button
	&__button {
		position: relative;
		top: 0;
		display: block;
		max-width: 45px;
		height: 100%;
		border-radius: 3px;
		padding: 0 12px;
		font-weight: 700;
		color: $white-0f;
		outline: none;
		box-shadow: inset 0 1px 2px $black-800;
		background-color: $brandColor;
		transition: background-color $hoverTime ease-in, color $hoverTime ease-in;

		@include md-min {
			&:hover {
				background-color: $black-600;
			}

			&:focus {
				color: $black-450;
			}
		}

		&:active {
			top: 1px;
		}
	}
}

.lang {
	grid-area: lang;
	position: relative;
	max-width: 60px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-self: end;

	@include md {
		max-width: 100%;
		justify-self: center;
		justify-content: flex-end;
	}

	// .lang__item
	&__item {
		margin-right: 10px;

		@include md {
			display: none;

			&.active {
				display: flex;
				align-self: center;
			}
		}
	}

	// .lang__link
	&__link {
		position: relative;
		top: 0;
		display: block;
		max-width: 18px;
		height: 100%;
		outline: transparent;
		padding: 2px;
		border: 1px solid transparent;
		transition: border-color $hoverTime ease-in;

		@include md-min {
			&:hover {
				border-bottom-color: $brandColor;
			}

			&:focus {
				border-bottom-color: $black-800;
			}
		}

		&:active {
			top: 1px;
		}

		@include xl {
			margin: 0 auto;
		}
	}

	// .lang__img
	&__img {
		width: 100%;
		height: 100%;
	}
}

//.menu
.menu {
	grid-area: nav;
	display: block;
	width: 100%;
	flex: 0 0 100%;
	margin-left: -20px;

	@include xl {
		margin: 0;
	}

	@include md {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// .menu__body
	&__body {
		position: relative;
		z-index: 4;
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		color: $white-0f;
		transition: all $hoverTime ease-out;

		@include xl {
		}

		@include md {
			position: fixed;
			top: 0;
			left: 0;
			align-items: flex-start;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $black-450;
			box-shadow: 0 0 15px $black-450;
			transform: translate(-110%, 0);
			padding: 100px 20px 30px;
		}

		&.active {
			transform: translate(0, 0);
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		justify-content: center;

		@include xl {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		@include md {
			flex-direction: column;
			align-items: flex-start;
			padding: 50px;
			font-size: 22px;
		}

		@include sm {
			font-size: 13px;
			padding: 50px 50px 50px 10px;
		}
	}

	// .menu__item
	&__item {
		position: relative;

		&:not(:last-child) {
			margin: 0 25px 0 0;
		}

		@include md {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}

		@include sm {
			&:not(:last-child) {
				margin: 0 0 15px 0;
			}
		}

		&:hover .sub-menu__list {
			display: inline-block;
		}
	}

	&__link {
		padding-bottom: 2px;
	}

	& a.parent {
		margin: 0px 25px 0px 0px;
	}
}

.sub-menu {
	// .sub-menu__list
	&__list {
		display: none;
		position: absolute;
		z-index: 2;
		top: 10px;
		left: 0;
		min-width: 295px;
		padding: 15px 0 0 0;
		transition: all $hoverTime ease-in;

		@include md {
			top: 0;
			padding: 0 0 0 30px;
			left: 90%;
		}
	}

	// .sub-menu__item
	&__item {
		padding: 10px 15px 10px 20px;
		background-color: $black-30d;
		border-bottom: 1px solid $black-300;
		transition: background-color $hoverTime ease-in;

		@include lg {
			max-width: 275px;
			font-weight: 300;
		}

		@include md {
			border-bottom-color: $brandColor;
		}

		&:hover {
			background-color: $brandColor;
		}

		&:hover .sub-sub-menu__list {
			display: block;
		}
	}

	// .sub-menu__link
	&__link {
		display: inline-block;
		font-size: 11px;
	}
}

.sub-sub-menu {
	// .sub-sub-menu__list
	&__list {
		display: none;
		position: absolute;
		top: 0;
		left: 93%;
		min-width: 250px;
		padding: 15px 0 0 2px;
	}

	// .sub-sub-menu__item
	&__item {
		padding: 10px 15px 10px 15px;
		background-color: $black-30d;
		border-bottom: 1px solid $black-300;
		transition: background-color $hoverTime ease-in;

		@include lg {
			font-weight: 300;
		}

		&:hover {
			background-color: $brandColor;
		}
	}

	// .sub-sub-menu__link
	&__link {
		display: inline-block;
		font-weight: 300;
		font-size: 11px;
	}
}

.social {
	grid-area: social;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;

	@include xl {
		margin: 0;
	}

	@include md {
		justify-content: center;
		justify-self: self-start;
		margin-right: auto;
	}

	@include sm {
		width: 80%;
	}

	// .social__item
	&__item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	// .social__link
	&__link {
		display: block;
	}

	.social__icon {
		position: relative;
		display: block;
		width: 23px;
		height: 23px;
		fill: $white-0f;
		outline: transparent;
		padding-bottom: 2px;
		border: 1px solid transparent;
		transition: fill $hoverTime ease-in, border-color $hoverTime ease-in;

		@include md-min {
			&:hover {
				fill: $brandColor;
			}

			&:focus {
				border-bottom-color: $black-800;
			}
		}

		&:active {
			top: 1px;
		}
	}
}

.arrow {
	display: none;
	position: absolute;
	right: 0;
	top: 5px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;

	@include xl {
		top: 12px;
		right: -7px;
	}
}

.arrow.active {
	transform: rotate(-180deg);
}

.sub-menu__arrow.arrow {
	top: 50%;
	right: 10px;
	border-bottom: none;
	border-left: 10px solid transparent;
	border-top: 10px solid $brandColor;
	border-right: 10px solid transparent;
}

.sub-menu__arrow.arrow.active {
	border-left-color: $black-30d;
}

body.mouse .menu__list > :hover .sub-menu__list {
	display: block;
}

body.mouse .sub-menu__list > :hover .sub-sub-menu__list {
	display: block;
}

body.touch .sub-menu__list.open {
	display: block;
}

body.touch .sub-sub-menu__list.open {
	display: block;
}

body.touch .arrow {
	display: block;
}
